.ipynb_*
cleaned-data/mention-reply-regex.txt
word_embedding/testing.ipynb
word_embedding/logs/
word_embedding/results.txt
word_embedding/test_wordEm.ipynb
word_embedding/test_afd_linke.ipynb
*.out
word_embedding/embeddings_old/
