doctype html
html
  head
    title= title
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://d3js.org/d3.v6.min.js')
    script(src='http://code.jquery.com/jquery-2.1.4.min.js') 
  body
    block content
